extends layout

block content

  h1= title
  br
  h3 Category: #{item.name}

  p #[strong Description:] #{item.description}
  p #[strong Category:] #{item.category.name}
  p #[strong Price:] $#{item.price}
  p #[strong Stock:] #{item.stocknum}
 
  p Do you really want to delete this Item? 

    form(method='POST')
      div.form-group
        input#itemid.form-control(type='hidden', name='itemid', value=item._id )

      button.btn.btn-primary(type='submit') Delete